@model IEnumerable<Client_Service.Models.Customers>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CusAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CusId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.CusId  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.CusId  })
            </td>
        </tr>
}
    </tbody>
</table>
